@font-face {
    font-family: "Baron Neue";
    src: url('/fonts/Baron Neue.otf') format('opentype');
}

@font-face {
    font-family: "Lato Bold";
    src: url('/fonts/Lato Bold.ttf') format('opentype');
}

@font-face {
    font-family: "Lato Regular";
    src: url('/fonts/Lato Regular.ttf') format('opentype');
}

@font-face {
    font-family: "Segoe UI";
    src: url('/fonts/Segoe UI.ttf') format('opentype');
}

html {
	height: 100%;
	min-height: 100%;
}

body {
    background-color: #f2f1f1;
    font-family: 'Lato Regular', serif;
	min-height: 100%;
}

select.form-control:not([size]):not([multiple]) {
    height: inherit;
}

nav {
    background-color: #fff;
    color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    transition: width .2s;
    width: 250px;
}

.verify-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.verify-header img {
    max-height: 50px;
    max-width: 50px;
}

#app-name-main {
    color: #fe0000;
    font-family: 'Baron Neue', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    margin-left: 10px;
    opacity: 1;
    overflow: hidden !important;
    position: absolute;
    text-overflow: ellipsis;
    transition: opacity .2s, visibility .2s;
    visibility: visible;
    white-space: nowrap;
}

#nav-title {
    border-bottom: 2px solid #fe0000;
    padding: 10px 35px 8px 35px;
    transition: padding-left .2s, padding-right .2s;
}
.toggled #nav-title {
    padding-right: 7px;
    padding-left: 7px;
}
#nav-title img {
    max-height: 50px;
    max-width: 50px;
}
#app-name {
    color: #fe0000;
    font-family: 'Baron Neue', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    margin-left: 10px;
    opacity: 1;
    overflow: hidden !important;
    position: absolute;
    text-overflow: ellipsis;
    transition: opacity .2s, visibility .2s;
    visibility: visible;
    white-space: nowrap;
}
.toggled #app-name {
    opacity: 0;
    visibility: hidden;
}
#nav-content {
    box-shadow: 3px 0 20px 0 #ccc;
    display: block;
    font-family: 'Segoe UI', serif;
    height: 100%;
    padding-top: 30px;
}
nav a {
    color: #333;
    display: block;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
#nav-content a:hover {
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
}
nav a i {
    color: #fe0000;
    float: right;
    font-size: 1.5rem;
}
nav a .menu-icon {
    float: left;
    margin-right: 20px;
    text-align: center;
    width: 25px;
}
nav a .menu-icon i {
    float: none;
}
nav a .menu-text {
    opacity: 1;
    overflow: hidden !important;
    position: absolute;
    text-overflow: ellipsis;
    transition: opacity .2s;
    white-space: nowrap;
}
.toggled nav a .menu-text {
    opacity: 0;
}
.toggled nav a .submenu-icon {
    position: absolute;
    right: 5px;
}
nav a .submenu-icon i {
    margin-top: 5px;
    transform: rotate(270deg);
    transition: transform .3s;
}
nav a.collapsed .submenu-icon i {
    margin-top: 5px;
    transform: rotate(0deg);
    transition: transform .3s;
}
nav ul li {
    position: relative;
    width: 100%;
}
nav ul li.nav-menu.selected > a:before {
    background: #fe0000;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}
.toggled nav ul li.nav-menu .nav-submenu {
    background-color: #fff;
    box-shadow: 3px 0 20px 0 #ccc;
    top: 0;
    left: 65px;
    position: absolute;
}
.toggled nav ul li.nav-menu .nav-submenu a {
    padding: 15px 70px 15px 40px;
}
nav ul li.nav-menu .nav-submenu a {
    padding-bottom: 10px;
    padding-left: 65px;
    padding-top: 10px;
}
nav ul li.nav-menu .nav-submenu ul {
    list-style: none;
    padding-left: 0;
}
nav ul li.nav-menu .nav-submenu li.active a {
    color: #fe0000;
}
nav > ul > li > a {
    height: 60px;
    padding: 20px 20px 20px 20px;
}
nav .collapse {
    display: none;
}
.toggled nav {
    width: 65px;
}
.toggled nav .collapsing {
    display: none;
}
.toggled nav .nav-menu.selected .collapsed + .collapse,
.toggled nav .nav-menu.selected .collapsed + .collapsing,
.toggled nav .nav-menu.selected .collapse {
    display: block;
    height: 153px;
}
.toggled nav .nav-menu .collapsed + .collapsing {
    display: block;
    height: 153px;
}
.toggled nav .nav-menu.selected .collapse.show {
    display: none;
}

header {
    background-color: #fe0000;
    color: #fff;
    padding: 0 20px 0 20px;
    height: 70px;
}
header a {
    color: #fff;
}
header a:hover {
    color: #fff;
    text-decoration: none;
}
header .navbar {
    height: 100%;
}
header ul {
    list-style: none;
    margin-bottom: 0;
}
#sidebar-toggle i {
    font-size: 1.5rem;
}
.header-middle {
    font-size: 12px;
    line-height: 3rem;
}
.header-middle i {
    margin-right: 10px;
}
#date-container {
    text-align: right;
}
.header-right {
    text-align: right;
}
.header-right ul li {
    display: inline;
    list-style: none;
}
#notification {
    position: relative;
}
#notification i {
    font-size: 1.3rem;
}
#notification .badge {
    background-color: #4ac4bc;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    position: absolute;
    right: -7px;
    top: -9px;
}
#user-picture {
    background-image: url(/img/default-profile-picture.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 40px;
    margin-right: 10px;
    position: relative;
    width: 40px;
}
#user-panel {
    display: inline-flex;
    position: relative;
}
#user-name {
    font-size: 12px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}
#user-panel.dropdown-toggle::after {
    margin-top: 17px;
}
#user-panel-dropdown {
    border-radius: 0;
    left: unset;
    margin-top: 7px;
    position: absolute;
    right: -10px;
    width: 220px;
}
#user-panel-dropdown::before {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    content: "";
    height: 0;
    left: auto;
    position: absolute;
    right: 5px;
    top: -8px;
    width: 0;
}
#user-panel-dropdown ul {
    list-style: none;
    padding-left: 0;
}
#user-panel-dropdown ul li {
    display: block;
}
#user-panel-dropdown ul li a {
    color: #333;
    display: block;
    padding: 10px 20px 10px 20px;
    position: relative;
}
#user-panel-dropdown ul li a:hover {
    background-color: #f1f1f1;
}
#user-panel-dropdown ul li a .menu-icon {
    color: #fe0000;
    float: right;
}
#developers .menu-item {
    color: #26c0d6;
}
#developers #code-icon {
    float: right;
    display: inline-block;
    max-height: 20px;
    max-width: 20px;
    padding-top: 5px;
}
#user-panel-dropdown.dropdown-menu li.selected > a:before {
    background: #fe0000;
    bottom: 0;
    content: "";
    left: -1px;
    position: absolute;
    top: 0;
    width: 4px;
}

main {
    padding-bottom: 150px;
    padding-left: 250px;
    transition: padding-left .2s;
}
.toggled main {
    padding-left: 65px;
}

#breadcrumb {
    background-color: #fff;
    padding: 30px 40px 30px 40px;
}
#breadcrumb a {
    text-transform: uppercase;
}
#breadcrumb .divider i {
    color: #ccc;
    font-size: 10px;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    top: -2px;
}
#breadcrumb .last {
    color: #777;
    text-transform: uppercase;
}

#content {
    background-color: #fff;
    margin: 20px;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    color: #fe0000;
}

h1, .h1,
h2, .h2 {
    font-family: 'Baron Neue', serif;
}

h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: 'Lato Regular', serif;
}

a,
.btn-link {
    color: #fe0000;
}

#login-left {
    background: url(/img/red-bg.png), url(/img/logistics-banner.jpg) no-repeat;
    background-size: 100%, 64%;
    height: 100vh;
    position: relative;
    z-index: 10;
}

#login-message {
    bottom: 0;
    padding: 80px 550px 80px 80px;
    position: absolute;
    text-align: right;
    width: 100%;
}
#login-message h2 {
    font-family: 'Lato Regular', serif;
    text-transform: uppercase;
}
#login-message h6 {
    font-size: 12px;
}

#login-right {
    background-color: #fff;
    border: 1px;
    display: table;
	float: right;
	height: 100%;
    padding: 0 50px;
    position: fixed;
    right: 0;
	width: 500px;
    z-index: 11;
}

#login-form-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#login-form {
    display: block;
    position: relative;
}

.form-title {
    margin-bottom: 60px;
}
.form-title h6 {
    font-size: 14px;
}

.public-form .form-control {
    border-radius: 12px;
    box-shadow: 2px 4px 13px 4px #ccc;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 20px 20px 20px 55px;
}

select {
    box-sizing: content-box;
    margin: 0px;
}

.public-form .form-control:focus {
    border-color: #fe0000;
}
.public-form [name=email] {
    background: url(/img/email.png) no-repeat scroll 15px 17px;
    background-size: 25px;
}
.public-form [name=password] {
    background: url(/img/lock.png) no-repeat scroll 15px 17px;
    background-size: 25px;
}
.public-form #forgot-password,
.public-form #back-to-login {
    color: #fe0000;
    float: right;
    font-family: "Lato Bold", serif;
    font-size: 12px;
    text-decoration: underline;
}
.public-form #forgot-password:hover,
.public-form #back-to-login:hover {
    color: #0056b3;
}
.public-form button:not(.btn-link) {
    background-color: #fe0000;
    border-radius: 12px;
    box-shadow: 2px 4px 13px 4px #ccc;
    color: #fff;
    margin-top: 50px;
    height: 60px;
    width: 100%;
}

#forgot-password-form {
    display: none;
    left: 50px;
    opacity: 0;
    position: relative;
}

#company {
    display: none;
}

div.action {
    padding: 25px;
    text-align: right;
}

.table {
    font-size: 14px;
}
.table td, .table th {
    border-top: none;
}
.table td .action {
    display: inline-block;
}
.table td {
    vertical-align: middle;
}

.table tr {
    border-bottom: solid;
    border-width: 1px;
}
table .action.btn-light {
    background-color: transparent;
    border-color: transparent;
}
table .action.view {
    color: #2980b9;
}
table .action.edit {
    color: #34495e;
}
table .action.delete {
    color: #e74c3c;
}

.required:after {
    content: '*';
    color: red;
    padding-left: 5px;
}

.form-control {
    padding-bottom: .7rem;
    padding-top: .7rem;
}
.form-control:focus {
    border-color: #fe6059;
    box-shadow: 0 0 0 0.2rem rgba(254, 126, 114, 0.25);
}

.btn-primary {
    background-color: #fe0000;
    border-color: #ff1d1b;
}
.btn-primary:hover {
    background-color: #fe2757;
    border-color: #fe3460;
}

#profile .picture {
    background-image: url(/img/default-profile-picture.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    max-width: 200px;
    min-height: 200px;
    min-width: 200px;
}
#profile .picture:hover {
    cursor: pointer;
}
#profile .picture img {
    max-height: 100%;
    max-width: 100%;
}

.dragged {
    width: 100%;
    height: 150px;
    border-color: #000000;
    background-color: #fff;
    color: #fe0000;
    font-weight: bold;
}

.undragged {
    width: 100%;
    height: 150px;
    border-color: #000000;
    background-color: #fe0000;
    color: #fff;
    font-weight: bold;
    margin: 10px;
}

.page-item.active .page-link {
    background-color: #fe0000;
    border-color: #fe0000;
}

.page-link {
    color: #fe0000;
}

.list-group-unit {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
    max-height: 500px;
    overflow: auto;
    border-bottom: solid;
    border-top: solid;
    border-width: 2px;
}

.far.fa-check-circle {
    color: #32CD32;
}

.rider-column {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    text-align: center;
}

.center-assign {
   text-align: center;
   padding-bottom: 40px;
}

.assigned-container {
    border: solid;
    border-width: 1px;
}

